= javascript_include_tag "autoUpdating"
.header
  .button
    %ul.button__right
      %li= link_to "TOP", root_path, class:"button__top"
      %li= link_to @group.name, group_messages_path(@group), class:"button__group"
    .button__left
      = link_to "#", class:"button__icon" do
        = icon("fas", "calculator")
      = link_to "#", class:"button__icon" do
        = icon("fas", "book-open")
      = link_to "https://recipe.rakuten.co.jp/", class:"button__icon rakuten" do
        = icon("fas", "cookie")
      = link_to "#", class:"button__icon" do
        = icon("fas", "shopping-bag")
.body
  .body__contents
    = render @messages
.footer
  = form_with model: [@group, @message], class: "form", local: true do |f|
    .form__placement
      = f.text_field :content, class: "form__message", placeholder: "メッセージを入力"
      = f.label :image, class: "form__image" do
        = icon("fas", "camera")
        = f.file_field :image, class: "form__image--none"
    = f.submit "送信", class: "form__submit"
  = link_to "編集", edit_group_path(@group), class:"group__edit"