= javascript_include_tag "autoUpdating"
= render "render/header"
.body
  .body__contents
    = render @messages
.footer
  = form_with model: [@group, @message], class: "form", local: true do |f|
    .form__placement
      = f.text_field :content, class: "form__message", placeholder: "メッセージを入力"
      = f.label :image, class: "form__image" do
        = icon("fas", "camera")
        = f.file_field :image, class: "form__image--none"
    = f.submit "送信", class: "form__submit"
  = link_to "編集", edit_group_path(@group), class:"group__edit"