.login
  .login__header
    .login__header__left
      = image_tag "houchou.png",alt: "~", size: "75x75"
      %b.login__header__title Almemory
      = image_tag "fryingpan.png",alt: "~", size: "75x75"
      = image_tag "kago.png",alt: "~", size: "75x75"
  .devise__login= render "devise/shared/links"

.sub
  .sub__title
    新規登録

.main
  =render "devise/shared/slick"
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    .main__form
      .main__form__font
        = f.label :名前
      = f.text_field :name, autofocus: true, class: "main__form__field"
      .main__form__font
        = f.label :email
      = f.email_field :email, autofocus: true, class: "main__form__field"
      .main__form__font
        = f.label :password
        (英数字8文字以上)
      = f.password_field :password, autocomplete: "off", class: "main__form__field"
      .main__form__font
        = f.label :password_confirmation
      = f.password_field :password_confirmation, autocomplete: "off", class: "main__form__field"
    = f.submit "Go!", class: "main__form__send"