.group
  .group__title 
    グループ編集
  = form_with model: @group, local: true do |f|
    .group__box
      .group__display
        .group__font
          = f.label :グループ名
          = f.text_field :name, placeholder: "変更したいグループ名", class: "group__field"
        .group__font
          = f.label :メンバー追加
          %input#search__field.group__field{type: "text", placeholder: "追加したいユーザー名"}
          .search__add
      .group__member
        .group__font グループメンバー
        .search__delete
          %p.member__current= current_user.name
          %input{name: "group[user_ids][]", type: "hidden", value: current_user.id}
          - @group.users.each do |user|
            - if current_user.name != user.name
              .member
                .member__current
                  = user.name
                  .member__remove{"data-user-id": user.id, "data-user-name": user.name} 削除
                  %input{name: "group[user_ids][]", type:"hidden", value: user.id}
    .group__flex
      = link_to "削除", group_path(@group.id), method: :delete, class: "group__delete"
      = f.submit "更新", class: "group__submit"
    = link_to "チャット画面に戻る", group_messages_path(@group), class: "group__back"


