.group
  .group__title 
    グループ作成
  = form_with model: @group, local: true do |f|
    .group__box
      .group__display
        .group__font
          = f.label :グループ名
          = f.text_field :name, placeholder: "作成したいグループ名", class: "group__field"
        .group__font
          = f.label :メンバー追加
          %input#search__field.group__field{type: "text", placeholder: "追加したいユーザー名"}
          .search__add
      .group__member
        .group__font グループメンバー
        .search__delete
          %p.member__current= current_user.name
          %input{name: "group[user_ids][]", type: "hidden", value: current_user.id}
    = f.submit "作成", class: "group__send"
    = link_to "トップページに戻る", "/", class: "group__back"