.header
  .button
    %ul.button__right
      %li= link_to "TOP", root_path, class:"button__top"
      %li= link_to @group.name, group_messages_path(@group), class:"button__group"
    .button__left
      = link_to group_prices_path, class:"button__icon" do
        = icon("fas", "calculator")
      = link_to group_memos_path, class:"button__icon" do
        = icon("fas", "book-open")
      = link_to "https://recipe.rakuten.co.jp/", class:"button__icon rakuten" do
        = icon("fas", "cookie")
      = link_to new_group_price_path, class:"button__icon" do
        = icon("fas", "shopping-bag")
.memo
= link_to "メモする", new_group_memo_path
- @memos.each do |memo|
  = memo.text
  = link_to "編集", edit_group_memo_path(@group,memo.id)
  = link_to "削除", group_memo_path(@group,memo.id), method: :delete