= render "render/header"
.memo
  .memo__flow
    .memo__title
      メモ一覧
      = link_to "（メモする）", new_group_memo_path, class: "memo__register"
    - @memos.each do |memo|
      .memo__display
        .memo__text
          = memo.text.truncate(40)
        .memo__link
          = link_to "編集", edit_group_memo_path(@group,memo.id), class: "memo__blue"
        .memo__link
          = link_to "削除", group_memo_path(@group,memo.id), method: :delete, class: "memo__red"


